<div id="gallery" >
  <h1 class="galeriaTitulo">Galería</h1>
  <div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0" data-aos="fade-up" data-aos-duration="8000">
      <img
        src="../../../assets/images/KOINOX-KYOC-07.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
  
      <img
        src="../../../assets/images/KOINOX-KYOC-16.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape"
        id="imgBottom1"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="../../../assets/images/TIF_KOINOX_CONSTELLA_C02.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Mountains in the Clouds"
      />
  
      <img
        src="../../../assets/images/KOINOX-KYOC-11.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="../../../assets/images/KOINOX-KYOC-04.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Waves at Sea"
      />
  
      <img
        src="../../../assets/images/KOINOX-KYOC-20.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Yosemite National Park"
      />
    </div>
  </div>
  
  
  
  <div class="clearfix"></div>

  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
      AOS.init();
  </script>
  
  <app-contact></app-contact>