<!--<div class="topBackground">
    <img class="img-fluid imgTop" src="../../../assets/images/DJI_0387-HDR.jpg"/>
    <div class="d-flex flex-column align-items-center topDiv">
        <h1 class="topFontBig">Juntos, construimos el futuro</h1>
        <br>
        <p class="topFontSmall">Ingresa tu email para conocer nuestras oportunidades</p>
        <div>
            <p class="emailBox">email</p>
        </div>
    </div>
    
</div> -->

<div class="image ">
    <div class="image-overlay">
        <nav class="navbar navbar-expand-lg  bg-body-tertiary mb-lg-0" data-bs-theme="dark">
          <div class="container-fluid">
          <div class="mx-auto order-0">
            <a routerLink="/" class="navbar-brand abs"><img class="imgStyle" src='../../../assets/images/LOGOTIPO_KOINOX_BLANCO_Mesa de trabajo 1.png'/></a>
          </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="collapse">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                <button type="button" class="ml-2 mr-2 btn btn-outline-light border-0 fw-bold"  *ngFor="let item of menuItems"
            [routerLink]="(isHome$ | async) ? item.homePath : item.pagePath"
            [fragment]="(isHome$ | async) ? item.fragment : ''">{{item.title}}</button>
                  </li>
                </ul>
              </div>
            </div> 
          </nav>
        <div class="text">
        <div class="textTop">
        <p id="topText">Juntos, construimos el futuro.</p>
        </div>
        <p id="lowText">Ingresa tu email para conocer nuestras oportunidades</p>
        </div>
        <div class="emailForm">
        <input type="email" class="form-control" id="email" placeholder="email">
        <!--<button type="submit">Submit</button>-->
        </div>
    </div>
</div>


<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
<app-info></app-info>