<!--<div class="topBackground">
    <img class="img-fluid imgTop" src="../../../assets/images/DJI_0387-HDR.jpg"/>
    <div class="d-flex flex-column align-items-center topDiv">
        <h1 class="topFontBig">Juntos, construimos el futuro</h1>
        <br>
        <p class="topFontSmall">Ingresa tu email para conocer nuestras oportunidades</p>
        <div>
            <p class="emailBox">email</p>
        </div>
    </div>
    
</div> -->

<div class="image">
    <div class="image-overlay">
        <a routerLink="/"><img class="imgStyle" src='../../../assets/images/LOGOTIPO_KOINOX_BLANCO_Mesa de trabajo 1.png'/></a>
        <div class="text">
        <p id="topText">Juntos, construimos el futuro.</p>
        <p id="lowText">Ingresa tu email para conocer nuestras oportunidades</p>
        </div>
        <div class="emailForm">
        <input type="email" class="form-control" id="email" placeholder="email">
        <!--<button type="submit">Submit</button>-->
        </div>
    </div>
</div>

<app-info></app-info>