.image{
    width:100%;
    height: auto;
    background-position: right;
    background-size: cover;
    display: flex;
    background-size: cover;
    background-image: url('../../../assets/images/cover-image.jpg');
    padding-bottom: 2%;

}

.imgStyle{
    width: 400px;
    left: 10px;
    top: 10px
}

.image-overlay{
    width: 100vw;
    height: auto;
    flex-direction: column;
    display: flex;
    justify-content: left;
    align-items: left;
    color: white;
    letter-spacing: 0.5px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#topText{
    padding-top: 10%;
    font-size: 8vw;
    font-weight: 600;
}

.textTop{
    margin-right: 800px;
}

#lowText{
    font-size: 1.5vw;
    font-weight: 300;
    display: inline-flex;
    padding-top: 5%;
}

.text{
    padding-top: 10%;
    padding-left: 2%;
    width: 900px;
    line-height: 1.1;

}

.form-control{
    width: 25%;
    margin-left: 2%;
    font-weight: 800;
    color: black;
    border-radius: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.navbar{
    background-color: transparent !important;
    font-size: 1.5em;
}


