/*.topBackground{
    position: relative;
}

.imgTop{
    width: 100%;
    height: fit-content;
    background-size: cover;
    background-image: url(../../../assets/images/DJI_0387-HDR.jpg);
}

.topDiv{
    color: white;
    font-family: 'Montserrat';
    position: absolute;
    top:50%;
    left: 35%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;

}

.topFontBig{
    font-size: 100px;
    font-weight: 600;
}

.topFontSmall{
    font-size: 30px;
    font-weight: 500;
}
*/

.image{
    width:100%;
    height: auto;
    background-position: center;
    background-size: cover;
    background-image: url('../../../assets/images/cover-image.jpg');
}

.image-overlay{
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: left;
    align-items: left;
    color: white;
    letter-spacing: 0.5px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#topText{
    font-size: 7rem;
    font-weight: 600;
}

#lowText{
    font-size: 1.5rem;
    font-weight: 300;
    display: inline-flex;
    padding-top: 5%;
}

.text{
    padding-top: 10%;
    padding-left: 2%;
    width: 900px;
    line-height: 1.1;

}

input{
    width: 200px;
    padding-left: 2%;
    color: rgba(62,62,62);
}