.image{
    width:100%;
    height: auto;
    background-position: right;
    background-size: cover;
    display: flex;
    background-size: cover;
    background-image: url('../../../assets/images/cover-image.jpg');
    padding-bottom: 2%;

}

.navbar-toggler-icon{
    border-color: green;
}

.imgStyle{
    width: 20vw;
    left: 10px;
    top: 10px
}

.image-overlay{
    width: 100%;
    height: auto;
    flex-direction: column;
    display: flex;
    justify-content: left;
    align-items: left;
    color: white;
    letter-spacing: 0.5px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#topText{
    padding-top: 10%;
    font-size: 8vw;
    font-weight: 600;
}

.textTop{
    margin-right: 800px;
}

#lowText{
    font-size: 1.5vw;
    font-weight: 300;
    display: inline-flex;
    padding-top: 5%;
}

.text{
    padding-top: 10%;
    padding-left: 2%;
    width: 100%;
    line-height: 1.1;

}

.form-control{
    width: 25%;
    margin-left: 2%;
    font-weight: 800;
    color: black;
    border-radius: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: transparent !important;
    font-size: 1vw;
}
button{
   font-family: 'Montserrat', Arial, Helvetica, sans-serif;
   font-size: 1.0rem;
   
}

@media (min-width: 768px) {
    #bs-example-navbar-collapse-1 {
       padding: 0 0px;
    }
}

@media only screen and (max-width: 768px) {
    .btn{
        font-size: 20vw;
    
    }
    #lowText{
        font-size: 3vw;
        font-weight: 300;
        display: inline-flex;
        padding-top: 5%;
    }
    .form-control{
        width: 40%;
        margin-left: 2%;
        font-weight: 800;
        color: black;
        border-radius: 0;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    }
    .imgStyle{
        width: 30vw;
        left: 20px;
        top: 10px
    }
    [data-aos] {
        pointer-events: auto !important;
        opacity: 1 !important;
        transform: none !important;
      }
    
      html:not(.no-js) [data-aos^=fade][data-aos^=fade] {
        opacity: 1 !important;
      }
    
      html:not(.no-js) [data-aos=fade-up] {
        transform: none !important;
      }
    
}

.navbar .navbar-collapse {
    text-align: center;
  }

.btn{
    font-size: 1.5vw;
}

