<div class="boxContainer" id="info">
    <div class="image-overlay">
        <div class="container text-center" data-aos="fade-up" data-aos-duration="8000">
            <div class="row">
              <div class="col">
                Fondo de Inversión
                <div class="item">Ofrecemos opciones de inversión para proyectos de desarrollo inmobiliario</div>
                <button type="button" class="btn btn-light btn-font-family:Montserrat text-left">Conoce más</button>
              </div>
              <div class="col">
                Inversión directa en proyecto
                <div class="item">Inversión de capital en proyectos específicos. Exclusividad para inversionistas que desean un servicio inmobiliario personalizado.</div>
                <button type="button" class="btn btn-light text-left">Conoce más</button>
              </div>
              <div class="col">
                Aportación Inmueble
                <div class="item">Generamos una rentabilidad alta y segura a través de inversiones inmobiliarias para el uso eficiente y adecuado de una propiedad aportada.</div>
                <button type="button" class="btn btn-light text-left">Conoce más</button>
              </div>
            </div>
          </div>
        </div>
</div>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<app-about></app-about>