<div class="bottom container" id="about">
    <div class="container-fluid text-center">
        <div class="row">
    <div class="col">
    <div class="embed-responsive embed-responsive-16by9" data-aos="fade-right">
        <iframe class="float-right ratio ratio-16x9" width="560" height="315" src="https://www.youtube.com/embed/DZZ-sB8hWVA?si=MLOOM2rI5W9G9BEb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    </div>
    <div class="col">
    <div class="about">
        <h1 id="who">¿Quiénes somos?</h1>
        <p id="we">Somos un grupo de expertos con más de 44 años de experiencia en inversión financiera para desarrollos inmobiliarios.</p>
        <p>Contamos con una amplia gama de proyectos realizados a través de un enfoque integral, distinguido por su eficiencia operativa.
            Nuestro modelo de mutuo beneficio con nuestros clientes nos ha posicionado como una de las mejores opciones de inversión y desarrollo inmobiliaro en México.
        </p>
    </div>
</div>
    </div>
</div>
<app-images></app-images>