.direccion{
    width: 60%;
    height: auto;
    font-size: 1.21vw;
    color: black;

}
.contactoIzq{
    width: 60%;
    float: left;
    padding: 20px;
}

.formulario{
    width: 40%;
    float: left;
    padding: 20px;
}

.form-control{
    font-size: 1vw;
}

input{
    margin-bottom: 1%;
}

a{
    color: black;
    text-decoration: none;
}

.floatingTextarea2{
    font-size: 0.5vw;
}

.direccionH{
    font-size: 1.5vw;
}

.btn{
    background-color: rgb(26, 181, 65);
    color: white;
    float: right;
    padding-top: 2%;
}

@media only screen and (max-width: 768px) {
    .direccion{
        width: 100%;
        height: auto;
        font-size: 4vw;
        color: black;
    
    }
    .direccionH{
        font-size: 6vw;
    }
    .formulario{
        width: 100%;
        padding: 20px;
        float: none;
    }
    .contactoIzq{
        width: 100%;
        float: none;
        padding: 20px;
    }
}


