<div id="contact" class="container">
<div class="contactoIzq">
    <div>
    <h1>Contacto:</h1>
    <h3>My Google Maps Demo</h3>
    </div>
    <div class="direccion">
    <h4 class="direccionH">Dirección:</h4>
    <p>Av. Manuel Gómez Morín 1101, Zona Residencial Chipinque, 66254 San Pedro Garza García, NL.
    </p>
    <p>+52 81 81 74 70 00</p>
    <a href="emailto:atencioninversionistas@koinox.com">atencioninversionistas@koinox.com</a>
    </div>
</div>

<div class="formulario">
    <h4>Completa el formulario y nos pondremos en contacto.</h4>
    <form class="form-floating" action="submit">
            <div class="form-floating">
                <input type="text" class="form-control" id="inputNombre" placeholder="Nombre">
                <label for="floatingTextarea2">Nombre</label>
            </div>
            <div class="form-floating">
                <input type="email" class="form-control" id="inputEmail" placeholder="Correo">
                <label for="floatingTextarea2">Correo</label>
            </div>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2">Mensaje</label>
              </div>
              <div class="col-12">
                <button class="btn enviar" type="submit">Enviar</button>
              </div>
    </form>
</div>
</div>
